.backboard{
    background-color: #cf8b4c;
    padding: 25vh;
    border-radius: 25px;
    position: absolute;
}
.gameboard{
    position: absolute;
}
#s1{
    background-color: red;
    font-weight: bold;
    font-size: 16pt;
    position: absolute;
    margin-left: -66%;
    margin-top: -42%;
    border-radius: 10%;
    padding: 9%;
    
    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s2{
    background-color: aqua;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-top: -42%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s3{
    background-color: blueviolet;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-top: -42%;
    margin-right: -66%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s4{
    background-color: chartreuse;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-left: -66%;
    margin-top: -7%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s5{
    background-color: darkmagenta;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-top: -7%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s6{
    background-color: firebrick;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-right: -66%;
    margin-top: -7%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s7{
    background-color: hotpink;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-left: -66%;
    margin-top: 26%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s8{
    background-color: darkcyan;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 26%;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#s9{
    background-color: darkolivegreen;
    position: absolute;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 26%;
    margin-right: -66%;
    overflow: hidden;
    border-radius: 10%;
    padding: 9%;

    &:hover{
        background-color: white;
        cursor: pointer;
    }
}
#turn{
    background-color: aqua;
    position: relative;
    margin-top: -10%;
}